<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dateCreated</key>
	<date>2026-04-07T03:40:24Z</date>
	<key>externalLocations</key>
	<array/>
	<key>rootId</key>
	<dict>
		<key>hash</key>
		<string>0~xu8zOIstCsn-T7lXF_wwgZ2Ful_XSQC9Qr3gDiTUbsLjD_qLkOFoe1qCh8_L2J_VGWoT1TGL-P5B3akPGItBIA==</string>
	</dict>
	<key>storage</key>
	<dict>
		<key>backend</key>
		<string>fileBacked2</string>
		<key>compression</key>
		<string>standard</string>
	</dict>
	<key>version</key>
	<dict>
		<key>major</key>
		<integer>3</integer>
		<key>minor</key>
		<integer>56</integer>
	</dict>
</dict>
</plist>
